*{
    margin:0;
    padding: 0;
}
.guardar{
    background: #4aa548;
    border: solid 1px #4aa548;
    float: right;
    border-radius: 6px;
}
.guardar:hover{
    background: #a0aec4;
    border: solid 1px #a0aec4;

}
.titulo-seccion{
    border-radius: 6px;
    vertical-align: middle;    
}
.titulo-seccion h2{
    text-align: center;
    color: #2f2f2f;
    font-size: 25px;
    text-transform: uppercase;
    padding: 20px 0 20px;
    font-weight: 700;
}
.input-image{   
    position: relative;    
    opacity: 0;
}
.fake-file{
    position: absolute;    
    z-index: 1;
}
.input-files{
    display: block;
    margin:0 auto;
}
.input-files img{
    width: 106px;
    height: 30px;
}

/* Banner Principal */
.titulos-de-pagina{
    text-align: left;
    padding-bottom: 100px;
}
.titulos-de-pagina input{
    width: 95%;
    text-align: center;
    font-size: 11px;
    background: #b2e0ff; 
    color: black;
    font-weight: 600;   
}
.banner-principal img{
    width: 100%;
    height: auto;
}
.banner-principal h4,p{
    text-align: center;
}
.servicios-principales{
    padding: 30px 0px;
}
.card-block p{
    font-size: 12px;
    font-weight: 500;
}
.servicios-principales h4{
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 20px;
}
.servicios-principales input{
    width: 95%;
    text-align: center;
    font-size: 11px;
    background: #b2e0ff; 
    color: black;
    font-weight: 600; 
}
/* Fin Banner Principal */

/* Sección Servicios Contables */
.servicios-contables input{
    width: 95%;
    text-align: center;
    font-size: 11px;
    background: #b2e0ff; 
    color: black;
    font-weight: 600;
}

/* Fin Servicios Contables */